*{
    box-sizing: border-box;
}
body {
    background-color: #ddd;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    background-color: blue;
    border-radius: 5px;
    border:none;
    color:lightgray;
    margin:1rem;
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.btn:focus{
    outline: none;
}

.btn:active{
    background-color: cornflowerblue;
    transform: scale(0.8);
    transform: translateY(4px);
    box-shadow: 0 0 10px #e8e8e8;
}